[Unit]
Description=Raspberry INDI Control Panel

[Service]
Type=simple
ExecStart=/home/pi/indi-lite-tools/control-panel/run -p 5100
WorkingDirectory=/home/pi/indi-lite-tools/control-panel/
User=pi
#ExecReload=/usr/sbin/postfix reload
#ExecStop=/usr/sbin/postfix stop

[Install]
WantedBy=multi-user.target
