[Unit]
Description=INDI Dashboard

[Service]
Type=simple
ExecStart=/opt/indi-lite-tools/dashboard/run -p 5100
WorkingDirectory=/opt/indi-lite-tools/dashboard/
User=%%%USER%%%

[Install]
WantedBy=multi-user.target
