<div class="container-fluid">
    <label for="exposure" class="col-sm-1 control-label">Exposure</label>
    <div class="input-group">
        <input type="number" class="form-control" id="exposure" placeholder="1">
        <div class="input-group-btn">
            <button type="button" id="preview" class="btn btn-default">Preview</button>
            <button type="button" id="framing" class="btn btn-default">Framing</button>
            <button type="button" id="stop-framing" class="btn btn-default">Stop Framing</button>
        </div>
    </div>
    <div class="image-container" style="display: none">
        <img id="ccd-preview"> 
    </div>
</div>
