<div class="container-fluid">
    <form class="form-inline"> 
        <div class="form-group"> 
            <label for="histogram-bins" class="control-label">Bins</label>
            <input type="number" class="form-control" id="histogram-bins" value="256">
        </div>
        <div class="form-group"> 
            <div class="checkbox">
               <label>
                   <input type="checkbox" id="histogram-logarithmic" checked> Logarithmic
              </label>
            </div>
        </div>
        <button id="histogram-update-settings" type="button" class="btn btn-default">Update</button>
    </form>
    <div id="histogram-container" style="margin-top: 10px">
        <img id="histogram-image" class='img-responsive' style='cursor: zoom-in'> 
    </div>
    <div id='histogram-plot' width="500" height="200"></div>
</div>
