<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>INDI Preview</title>

		<!-- Bootstrap -->
		<link href="static/bootstrap-{{config.bootstrap_version}}-dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="static/jquery-{{config.jquery_version}}.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="static/bootstrap-{{config.bootstrap_version}}-dist/js/bootstrap.min.js"></script>
        {% include 'navbar.html' %}
        <div class="notifications">
            <div id="notification-template" class="alert alert-dismissible fade in" style="display: none">
                <button type="button" class="close" data-dismiss="alert">
                    <span>×</span>
                </button>
                <strong class="notification-title"></strong> <span class="notification-text"></span>
            </div>
        </div>
        <div class="tab-content">
            <div id='ccd-settings' class="tab-pane active">
                {% include 'settings.html' %}
            </div>
            <div id='ccd-image' class="tab-pane">
                {% include 'preview.html' %}
            </div>
            <div id='ccd-histogram' class='tab-pane'>
                {% include 'histogram.html' %}
            </div>
            <div id='misc' class='tab-pane'>
                {% include 'misc.html' %}
            </div>
        </div>

		<script src="static/indi.js"></script>
		<script src="static/localsettings.js"></script>
		<script src="static/preview_page.js"></script>
		<script src="static/settings_page.js"></script>
		<script src="static/histogram_page.js"></script>
		<script src="static/misc_page.js"></script>
		<script src="static/index.js"></script>
	</body>
</html>

