<div class="container">
    <form>
        <div class="form-group">
            <label for="run-command">Run command on server</label>
            <div class="input-group">
                <input type="text" class="form-control" id="run-command">
                <div class="input-group-btn">
                    <button type="button" id="run-command-btn" class="btn btn-default">Run</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label class='col-sm-3'>Clean images cache</label>
            <button type="button" id="clean-cache" class="btn btn-warning">Clean cache</button>
        </div>

        <hr />
        <div class="form-group">
            <label class='col-sm-3'>Shutdown INDI Previewer</label>
            <button type="button" id="shutdown-server" class="btn btn-danger">Shutdown server</button>
        </div>
    </form>
</div>
