<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Control Panel</title>

    <!-- Bootstrap -->
    <link href="static/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .list-row {
      margin-top: 25px;
      text-align: right;
    }

    #shutdown-alert {
      display: none;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;  
    }
    
    #temp_humidity {
      display: none;
    }
    
  </style>
  </head>
  <body>
  
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Raspberry INDI Control Panel</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a onclick="getCoordinates(sendCoordinates)" href="#">Sync time/gps</a></li>
        <li><a onclick="openINDIControlPanel()" href="#">INDI control panel</a></li>
        <li><a onclick="openShellinabox()" href="#">Shellinabox</a></li>
        <li><a data-toggle="modal" data-target="#shutdown-modal" href="#">Shutdown</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container">
        <div class="alert alert-info" role="alert" id="temp_humidity">
          <strong>Temperature: </strong><span id="temperature_value" /> &#8451;</strong>
          <strong>Humidity: </strong><span id="humidity_value" /> %</strong>
        </div>
        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Time</th>
                    <th>Event type</th>
                    <th>Event</th>
                </tr>
            <tbody id="events">
                <tr id="events_placeholder" style="display: none"><td /></tr>
            </tbody>
        </table>
    </div>
    
    <div class="modal fade" id="shutdown-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Shutdown system?</h4>
          </div>
          <div class="modal-body">
            Do you really want to power off this system?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger" onclick="shutdown()" data-dismiss="modal">Shutdown</button>
          </div>
        </div>
      </div>
    </div>

    <div id="shutdown-alert" class="alert alert-danger"><strong>Shutdown</strong> the system is shutting down.</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="static/components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/app.js"></script>
  </body>
</html>
